body{margin:0 0 0 0;
     text-align: center;
     font-family: 'Merriweather', serif;line-height: 2;
}

  /*
  TIPOS DE FUENTE
  font-family: 'Merriweather', serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Sacramento', cursive;
}*/


h1{
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;color:#66BFBF;
}
.webdes{
  margin-top: 0;font-size: 2rem;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:normal;
    font-size: 3rem;

}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 500;font-size: 1.5rem;

}
.top{
  background-color:/*#E4F9F5 ;*/#e0ebe8;
  margin-top: 0;
  padding-top: 100px;
  color:#66BFBF;
  font-weight: 500;

}

.mid{padding-top: 80px;
}
.profile{
  max-width: 50%;
  margin:100px auto 100px auto;
}

.skill-row1{
  max-width: 50%;
  margin:100px auto 150px auto;
  text-align: left;
  line-height: 2;
}
.skill-row2{
  max-width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;
}

.CSS3{
  padding-top: 100px;
}


.cloud1{
  position:absolute;
  left:1200px;
  top:70px;
  max-width: 200px;
  height: auto;

}

.cloud2{
  position:absolute;
  top:350px;
  left:520px;
  max-width: 200px;
  height: auto;
}
.profpic{
  max-width: 200px;
  max-height: 200px;
}
.skillimg1{width: 25%;
  float: left;
  margin-right: 30px;
}
.skillimg2{width: 35%;
  float: right;
}


.skills{padding-top: 66.5px;}

a{
  color: #11999E;
  text-decoration: none;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 500;
  font-size: 1.5rem;

}

hr{border-color: #e4e4e4;
  border-style: dotted none none none;
   width: 7%;
   border-top-width: 10px;
 }
.hr2{
  margin: 220px auto 100px auto;
}
.bottom-container{
  background-color: #66BFBF;
  margin-bottom: -20px;
  padding-top: 30px;padding-bottom: 20px;
}
.footer-link{padding: 20px;padding-top: 50px;
}
.mountain{margin-bottom: -10px;
}
.btn{text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  color: white;
  background-color: #37af65;
   border-radius: 4px;
   width: 100px;
   padding:10px;
   border-color:#37af65 ;
   text-decoration: none;-webkit-box-shadow: 3px 3px 6px 1px rgba(96,96,96,0.45);
   box-shadow: 3px 3px 6px 1px rgba(96,96,96,0.45);  margin: 40px auto;
  }
  p{color: #40514E;font-weight: 700;
  }
.contact-me{margin: 50px auto;
}
.context{
  margin: 40px auto;
}
.copyright{
  color: #EAF6F6;
}
