*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
/*

font-family: 'Hind Madurai', sans-serif;

font-family: 'Hind Vadodara', sans-serif;

font-family: 'Sacramento', cursive;


 */

/* navbar */


.page-logo{
  max-width: 75px;
  max-height: auto
}
.container-fluid{
  padding-top: 10px;
}
.Top-container-background{top: 0;
  margin-top: 0;
  background-color: #e0ebe8;
  background-size: cover;
  padding: 0 24% ;margin-top:0;
}
.navbar-nav{
font-family: 'Hind Vadodara', sans-serif;
font-size: 1.1rem;
}
.nav-item{
  padding: 0 15px;
  /* por alguna razon el a tiene mas prioridad??? */
}
.nav-link{  color: #45b29a;

}
h1{
  text-align: center;
  margin-top: 100px;
margin-bottom: 0px;
font-family: 'Sacramento', cursive;
font-size: 5.625rem;
color: #45b29a;font-weight: bold;
}
.second-title{
  text-align: center;
  color: #45b29a;
  padding: 1em 0;
  font-size: 1.5rem;
  font-weight: 400;
/* font-family: 'Lato', sans-serif; */
font-family: 'Hind Vadodara', sans-serif;
}
.mount-div{display: flex;
  margin-top: 40px;
  text-align: center;
}
.mountain{
  margin:0 auto;max-width: 100%;
}
.cloud-1{max-width: 10%;
  position: absolute;top: 40%;
}
.cloud-2{max-width: 10%;
  position: absolute;top: 20%;right: 30%;


}

/* mid-container */

.MID_CONTAINER{
padding: 4% 28% ;
}
/* mid-container-1 */
.mid-container-1{ margin: 0 22%;
  text-align: center;
}
.profile-1{
  max-width: 150px;
  margin-bottom: 30px;
}
h3{
/* font-family: 'Lato', sans-serif; */
font-family: 'Hind Vadodara', sans-serif;
color: #45b29a;
font-size: 1.6rem;
margin-bottom: 7%;
}
p{
color:  #545454;
font-family: 'Hind Madurai', sans-serif;

font-size: 1.2rem;

}
hr{margin: 10% auto;
  border-color: #e4e4e4;
border-style: dotted none none none;
width: 20%;
border-top-width: 10px;
}
/*  mid-container-2*/
.mid-container-2{
  margin: 0 2%;
  text-align: center;
}

h2{
  /* font-family: 'Lato', sans-serif; */
font-family: 'Hind Vadodara', sans-serif;
  color: #1e836c;font-size: 2.8rem;font-weight: 200;
letter-spacing: 2px;margin-bottom: 10%;
}


.grid{
display: grid;
grid-template-columns: 50% 50%;
grid-auto-rows: 1fr 1fr;


}
.col-1-A{
  display: flex;justify-content:flex-start;
text-align: left;
}
.col-1-B{
text-align: left;
}
.col-2-A{
  text-align: left;
margin-top: 10%;
}
.col-2-B{
  display: flex;justify-content: flex-end;
  text-align: right;
margin-top: 10%;
}
.grid-img-1{
  max-width: 50%;position: relative;top:-20px;
height: auto;
}
.grid-img-2{
  max-width: 50%;
}
/*  */
/* mid-container-3 */
.mid-container-3{ margin: 0 15%;
  text-align: center;
}
.btn-success{
font-weight: bolder;
font-family: 'Montserrat', sans-serif;
margin-top: 20px;
background-color: #45b29a;

color: #1b857c;
border-radius: 5px;
padding: 14px;
font-size: 15px;
width: 200px;
line-height: 18px;
letter-spacing: 1.54px;
position: relative;

}

/*  */
/* footer */
.footer{padding: 2%;
  text-align: center;
  background-color: #c5ded7;
  margin-bottom: 0;padding-bottom: 0;
}
.footer-link{
  padding: 1%;
font-family: 'Montserrat', sans-serif;color: #45b29a;
}
.copyright{
margin-bottom: 0;
padding: 2%;
font-family: 'Montserrat', sans-serif;color: #45b29a;


}



/*  */
@media (max-width:1199px) {
  .Top-container-background{
  padding: 0 5% ;
}
.cloud-1{max-width: 10%;
  position: absolute;top: 20%;
}
.cloud-2{max-width: 10%;
  position: absolute;top: 10%;right: 10%;

}
.MID_CONTAINER{
padding: 4% 5% ;
}



}
